<nav class="flex w-full h-16 bg-zinc-900 text-white mx-auto items-center text-lg shadow-md">
    <div class="p-4 mx-8">
        <h2 class="font-semibold">The Generative AI Map</h2>
    </div>
    <div class="p-4 mx-8 ml-auto">
        <div class="flex gap-4">
            <a class="transition hover:text-rose-600" routerLink="/home">Home</a>
            <a class="transition hover:text-rose-600" routerLink="/map">AI Map</a>
            <a class="transition hover:text-rose-600" routerLink="/tools">Full List</a>
            <a class="transition hover:text-rose-600" routerLink="/categories">Categories</a>
        </div>
    </div>
</nav>
