<section class="flex">
    <div
            class="h-[50rem] w-full bg-black relative flex items-center justify-center"
            style="background-image: linear-gradient(rgba(255, 255, 255, 0.1) 1px, transparent 1px), linear-gradient(90deg, rgba(255, 255, 255, 0.1) 1px, transparent 1px);
            background-size: 40px 40px;
            background-position: 0 -20px, -20px 0;"
    >
        <div class="absolute pointer-events-none inset-0 flex items-center justify-center bg-black [mask-image:radial-gradient(ellipse_at_center,transparent_20%,black)]"></div>
        <!---->
        <div>
            <div class="text-center text-white">
                <h1>
                    Explore The latest In AI Tools.
                    <span class="sm:block">Find the Right tool for your workflows.</span>
                </h1>
                <p>Get the latest in AI tools and technologies to help you build your next project.</p>
            </div>
            <!---->
            <div class="inline-flex mx-auto justify-between items-center">
                <div class="py-2 rounded px-8 bg-rose-600 transition hover:bg-rose-700 text-white mx-4 focus:outline-none focus:ring shadow">
                    <a>See Full List</a>
                </div>
                <div>
                    <a class="text-rose-700">Explore Categories</a>
                </div>
            </div>
        </div>
    </div>
</section>
