<section>
    <div
            class="h-[30rem] w-full bg-black relative flex items-center justify-center"
            style="background-image: linear-gradient(rgba(255, 255, 255, 0.1) 1px, transparent 1px), linear-gradient(90deg, rgba(255, 255, 255, 0.1) 1px, transparent 1px);
            background-size: 40px 40px;
            background-position: 0 -20px, -20px 0;"
    >
        <div class="absolute pointer-events-none inset-0 flex items-center justify-center bg-black [mask-image:radial-gradient(ellipse_at_center,transparent_20%,black)]"></div>
        <!---->
        <div class="mx-8">
            <div class="text-center text-white my-4">
                <h1>
                    Explore The latest In AI Tools.
                    <span class="sm:block">Find the Right tool for your workflows.</span>
                </h1>
                <p>Get the latest in AI tools and technologies to help you build your next project.</p>
            </div>
            <!---->
            <div class=" flex mx-auto justify-center items-center">
                <div class="py-2 rounded px-14 bg-rose-600 transition hover:bg-rose-700 text-white mx-2 focus:outline-none focus:ring shadow">
                    <a class="w-full text-center">See Full List</a>
                </div>
                <div class="border-2 border-rose-700 py-2 px-8 rounded mx-2 focus:outline-none focus:ring shadow">
                    <a class="w-full text-center text-white transition hover:text-rose-700">Explore Categories</a>
                </div>
            </div>
        </div>
    </div>
</section>
